*,
*:before,
*:after {
  box-sizing: border-box; }

/* Container */
.area {
  margin-left: auto;
  margin-right: auto; }

/* Container: Media queries */
@media (min-width: 768px) {
  .area {
    width: 750px; } }

@media (min-width: 992px) {
  .area {
    width: 970px; } }

@media (min-width: 1200px) {
  .area {
    width: 1170px; } }

/* Row */
.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

/* Common styles for all columns */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  float: left; }

/* ExtraSmall (screen < 768px) */
.col-xs-1 {
  width: 8.33333333%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-12 {
  width: 100%; }

/* Small (screen > 768px) */
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-12 {
    width: 100%; } }

/* Medium (screen > 992px) */
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-12 {
    width: 100%; } }

/* Large (screen > 1200px) */
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-11 {
    width: 91.66666667%; } }

.table {
  display: table; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

html, body {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

.container {
  width: 1920px;
  margin: 0 auto; }

.container-inside {
  width: 1200px;
  margin: 0 auto; }

.img-responsive {
  width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

.main-banner {
  width: 100%;
  background: url(../../img/bg.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 100px; }
  .main-banner .container-inside div {
    padding-left: 40px;
    padding-right: 40px; }

nav {
  text-align: center;
  padding-bottom: 15px; }
  nav ul {
    padding: 0; }
    nav ul li {
      display: inline-block;
      vertical-align: middle; }
      nav ul li img {
        margin: 0 10rem; }
    nav ul a {
      text-decoration: none;
      padding: 15px;
      color: #818181;
      font-weight: 600;
      position: relative; }
    nav ul a:hover, nav ul a:focus {
      color: #5363db; }
    nav ul a::before {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 0;
      background-color: #5363db;
      transition: width .3s ease-in-out, left .3s ease-in-out;
      left: 50%;
      bottom: 0; }
    nav ul a::after {
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 0;
      background-color: #5363db;
      transition: width .3s ease-in-out;
      left: 50%;
      bottom: 0; }
    nav ul a:hover::before {
      width: 20%;
      left: 30%; }
    nav ul a:hover::after {
      width: 20%; }

form {
  background-color: #fff;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  float: right; }

h2 {
  font-weight: 600;
  font-size: 25px;
  color: #5363db;
  margin-top: 0; }

input, select {
  display: block;
  margin: 15px 0;
  width: 100%;
  padding: 10px;
  background: #f2f2f2;
  color: #a8a8a8;
  border: none;
  border-radius: 5px; }

button {
  margin: 15px 0 15px 15px;
  color: #ffffff;
  background: #5363db;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 60px;
  float: right; }

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase; }

h1 + p {
  font-family: "Freestyle Script";
  font-size: 40px;
  color: #ffffff; }

.classes {
  padding-top: 120px;
  padding-bottom: 120px; }
  .classes h2 {
    text-transform: uppercase;
    color: #5b6ceb;
    font-weight: 700; }
  .classes h2 + p {
    font-family: "Freestyle Script";
    font-size: 25px;
    color: #777777; }
  .classes .yoga-class-block {
    -webkit-box-shadow: 2px 2px 5px 0px #cccccc;
    -moz-box-shadow: 2px 2px 5px 0px #cccccc;
    box-shadow: 2px 2px 5px 0px #cccccc;
    margin: 15px;
    box-sizing: content-box;
    width: calc(50% - 30px);
    border-radius: 10px; }
    .classes .yoga-class-block div {
      display: inline-block; }
    .classes .yoga-class-block .yoga-class-block-img {
      width: 45%; }
    .classes .yoga-class-block .yoga-class-block-text {
      width: 54%;
      box-sizing: border-box;
      vertical-align: top;
      padding: 30px 50px 30px 30px; }
      .classes .yoga-class-block .yoga-class-block-text h2 {
        font-size: 20px;
        margin-top: 15px;
        color: #777777; }
      .classes .yoga-class-block .yoga-class-block-text p {
        font-size: 14px;
        font-family: 'Open Sans', sans-serif; }
      .classes .yoga-class-block .yoga-class-block-text p + p {
        color: #999999; }

.about {
  padding-top: 125px;
  padding-bottom: 125px; }
  .about h2 {
    text-transform: uppercase;
    color: #5b6ceb;
    font-weight: 700; }
  .about p {
    font-size: 14px;
    padding-right: 8rem;
    color: #555555; }

.elements {
  padding-top: 125px;
  padding-bottom: 125px;
  background: url(../../img/bg1.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  color: #ffffff; }
  .elements h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700; }
  .elements p {
    font-size: 16px;
    padding: 0 1em; }

.shop {
  padding-top: 125px;
  padding-bottom: 125px;
  background: url(../../img/bg3.png);
  background-position: right bottom;
  -webkit-background-size: 100% auto;
  background-size: 100% auto; }
  .shop .table {
    border-radius: 10px; }
  .shop .table-cell {
    padding: 20px;
    text-transform: uppercase; }
  .shop .table-caption {
    padding: 40px;
    color: #ffffff;
    background: #5b6ceb; }
  .shop button {
    border-radius: 20px; }
  .shop .blockquote {
    background: #ffffff;
    border-radius: 10px;
    margin-top: 6rem; }
    .shop .blockquote blockquote {
      font-style: italic;
      font-size: 14px; }

footer {
  flex: 0 0 auto;
  background: #5b6ceb;
  color: #ffffff;
  padding-top: 2em;
  font-size: 14px; }
  footer h4 {
    font-size: 18px;
    margin-bottom: 2em;
    text-transform: uppercase; }
  footer p {
    padding-right: 7vw; }
  footer .social-icons .icon {
    display: inline-block;
    margin: 5px;
    width: 22px;
    height: 22px;
    font-size: 0; }
  footer .social-icons .icon-pinterest {
    background: url(../../img/pinterest-outlined-logo.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .social-icons .icon-twitter {
    background: url(../../img/twitter-social-outlined-logo.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .social-icons .icon-facebook {
    background: url(../../img/facebook-logo-outline.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .social-icons .icon-google {
    background: url(../../img/google-plus-outlined-logo-social-symbol.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .social-icons .icon-instagram {
    background: url(../../img/instagram-social-outlined-logo.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .placeholder-text {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; }
  footer .email-text, footer .phone-text, footer .web-text {
    display: flex; }
  footer .contact-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 20px; }
  footer .placeholder-icon {
    background: url(../../img/placeholder.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: 5px 20px 5px 5px; }
  footer .email-icon {
    background: url(../../img/envelope.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .phone-icon {
    background: url(../../img/phone-call.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .web-icon {
    background: url(../../img/planet-earth.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%; }
  footer .copyright {
    background: #5363d8;
    color: #9aa4f0;
    padding: 2em;
    margin-top: 6rem;
    font-size: 16px; }
