

nav {
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;

  ul {

    padding:0;
    li {
      display: inline-block;
      vertical-align: middle;
      img {
        margin: 0 10rem;
      }
    }
    a {
      text-decoration: none;
      padding: 15px;
      color: $menu-text-color;
      font-weight:600;
      position: relative;
    }
    a:hover, a:focus {
      color: $menu-text-hover-color;
    }
    a::before{
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 0;
      background-color: $main-color;
      transition: width .3s ease-in-out, left .3s ease-in-out;
      left: 50%;
      bottom: 0;
    }
    a::after{
      display: block;
      position: absolute;
      content: "";
      height: 2px;
      width: 0;
      background-color: $main-color;
      transition: width .3s ease-in-out;
      left: 50%;
      bottom: 0;
    }
    a:hover::before{
      width: 20%;
      left: 30%;
    }
    a:hover::after{
      width: 20%;
    }
  }
}

.main-banner{
  width: 100%;
  //height: 500px;
  background: url(../../img/bg.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  padding-top: 100px;
  padding-bottom: 100px;

  .container-inside{
    div {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

form {
  background-color: $form-color;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  float: right;
}
h2 {
  font-weight: 600;
  font-size: 25px;
  color: $main-color;
  margin-top: 0;
}
input,select {
  display: block;
  margin: 15px 0 ;
  width: 100%;
  padding: 10px;
  background: $input-background-color;
  color: $input-text-color;
  border: none;
  border-radius: 5px;
}
//select {
//  display: block;
//  margin: 8px;
//}
button {
  margin: 15px 0 15px 15px;
  color: $header-text-color;
  background: $main-color;
  border: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 60px;
  float: right;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color:$header-text-color;
  text-transform: uppercase;
}
h1 + p {
  font-family: "Freestyle Script";
  font-size: 40px;
  color: $header-text-color;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: $header-text-color;
  z-index: 999;
  -webkit-box-shadow: 0px 2px 2px 0px $menu-text-color;
  -moz-box-shadow: 0px 2px 2px 0px $menu-text-color;
  box-shadow: 0px 2px 2px 0px $menu-text-color;
}